<div class="ml-28 h-16 w-[110%] md:w-screen pl-20 pr-20  bg-[#78C1F3]">
<div class="flex space-x-20 md:flex-3">
  <div class="">
    <img class="w-14 ml-24" src="../../assets/256x256bb-removebg-preview.png" alt="">
<p><img class="w-32 md:w-40 bottom-[90px]  left-14 md:left-16 md:bottom-[100px] relative " src="../../assets/cookhub-1-removebg-preview.png" alt=""></p>
  </div>
  <!-- <div class=" flex relative top-5 space-x-4 md:space-x-8 left-4 md:left-[1450px] font-semibold md:font-extrabold text-[#E2F6CA]">
    <p class="text-[#E2F6CA]">Home</p>
    <p class="text-[#E2F6CA]">About</p>
    <p>Sing In</p>
  </div> -->
</div>
</div>
